
body{
  background-color: white;
}

h1 {
  Color: black;
  font-size: 24px;
  font-family: Raleway, Sans-serif;
}

h2 {
  Color: blue;
  font-size: 16px;
  font-family: Raleway, Sans-serif;
}
h3{
    font-size: 12px;
  font-family: Raleway, Sans-serif;
}


h4,p,ul{
  font-size: 10px;
  font-family: Lato, Sans-serif;
}

h5{
  font-size: 12px;
  font-family: Sans-serif;
}
h6{
  font-size: 9px;
  font-family: Sans-serif;
  color: grey;
}


img{
  width: 25px
}

hr{
  height: 3px;
}
